<footer>
  <div class="container-fluid bg-dark text-white py-3" style="bottom: 0; left: 0; width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-sm-1">
              <a href="#"><i class="fas fa-address-card text-white" style="font-size: 1.5em;"></i></a>
            </div>
            <div class="col-sm-11">
              <div id="contacto">
                <h5>Contáctanos</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 text-right">
          <div class="d-inline-block">
            <div id="red-social"><i class="fab fa-facebook-f"></i></div>
            <div id="red-social"><i class="fab fa-twitter"></i></div>
            <div id="red-social"><i class="fab fa-instagram"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style media="screen">
    #red-social {
      margin-left: 1em;
      float: left;
    }

    .fab {
      font-size: 25px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      color: white;
    }

    .fab:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    .fa-facebook-f {
      background: #3B5998;
    }

    .fa-twitter {
      background: #55ACEE;
    }

    .fa-instagram {
      background: #125688;
    }

  </style>
</footer>
